<!-- About Section -->
<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>About</h2>
    <p>
      Hi, I am {{ about-me.name }}, a software engineer and data enthusiast with a Master’s degree in Computer Science from Arizona State University, where I graduated with a 4.0 GPA. Over the course of my career, I’ve had the opportunity to work with leading companies like JP Morgan Chase and ANB Systems, developing scalable solutions, optimizing performance, and embracing cutting-edge technologies such as cloud computing and machine learning.
    </p> <br>
    <p>
      My experience spans projects like AI chatbots, hybrid cloud applications, and performance tuning machine learning models. I thrive on solving complex challenges and building efficient, impactful software that drives innovation.
    </p> <br>
    <p>
      When I’m not coding, you can find me enjoying sports, both watching and playing, diving into online gaming, or picking up new skills like solving the Rubik’s Cube, performing magic card tricks, or learning Spanish.
    </p> <br>
    <p>
      Let’s connect and build something incredible together!
    </p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4 justify-content-center">
      <div class="col-lg-4">
        <img src="assets/img/my-profile-img.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 content">
        <h2>Software Engineering, Machine Learning &amp; Cloud Computing</h2>
        <div class="row">
          <div class="col-lg-12">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{ about-me.age }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{ about-me.city }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master of Science</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Major:</strong> <span>Computer Science</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a href="mailto:{{ about-me.email }}">{{ about-me.email }}</a></span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span><a href="tel:{{ about-me.contact.link }}">{{ about-me.contact.number }}</a></span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href="{{ '/' | url }}">pandyadeval.github.io</a></span></li>
            </ul>
          </div>
      </div>
    </div>

  </div>

</section><!-- /About Section -->